body {
    background-color: white;
    text-align: center;
    margin-top: 20%;
}

h1 {
    color: black;
    text-shadow: rgb(255, 255, 255) 4px 0 10px;
}

label {
    color: black;
    text-shadow: rgb(255, 255, 255) 4px 0 5px
}